*{
  box-sizing: border-box;
  text-align: center;
}
body,html{
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "helvatica";

}
/*header*/
.navbar{
  background-color: #4d4d4d!important;

  /*padding-bottom: 40px;*/
}
a.col{
  color: white!important;
}
a.col:hover{
  text-decoration: underline;
  color: blue;
  background-color: orange;
}
a.col:active,a.col:focus,a.col:visited,.btn:active,.btn:focus,.btn:visited{
  
  color: red/*!important*/;
  background-color: green/*!important*/;
}
/*header*/
.navbar{
  background-color: #4d4d4d!important;

  /*padding-bottom: 40px;*/
}
a.col{
  color: white!important;
}
a.col:hover{
  text-decoration: underline;
  color: blue;
  background-color: orange;
}
a.col:active,a.col:focus,a.col:visited,.btn:active,.btn:focus,.btn:visited{
  
  color: red/*!important*/;
  background-color: green/*!important*/;
}
a{
	color: white;
	font-weight: bold;
  font-size: 1.2em;
}
#start{
  position: relative;
  margin-top: 5.1%;
  /*border:1px solid green;*/
  height: 500px;
}
/*jumbotron*/
.pic {
	background: url(../images/img_1.jpeg) center center no-repeat;
	 background-size: cover;
	background-attachment: fixed;
  position: relative;
  top:0;
  height: 100%;
}
.picture{
  background: url(../images/fine_home_3.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron h1{
  font-family: "Monoton";
  font-size: 4em;
  color: black;
  text-shadow: 2px 1px #ff8080 ;
}
.element{
  display: inline-
  block;
  margin-top: 100px;
  font-size: 2rem;
  color:white;
}
#scroll_1{
  position: absolute;
  top:70%;
  left:50%;
}
/*end of jumbotron*/
/* 2nd section--- Our services*/
.folder{
    padding:5% 0 5% 0;
    border: 1px solid green;
  
}


#middle h3,#middle p{
  color: black;
}
/* end of 2nd section*/
/*price plan*/
.price{
  /*width:100px!important;*/
  /*height: 600px;*/
  /*background-color: yellow;*/
  border:1px solid blue;
  position: relative;
 /* margin-right: 10px;*/
}
/*.price:nth-child(1){
  margin-left: 10px;
}*/
.work h1{
  
  border: 1px solid yellow;
background: pink;

}

.zoom{
  background: url(../images/background_clint.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
/* end of testimonial*/
#port{
  background-color:rgba(74, 79, 89,0.8)  ;
}
.portfolio{
  margin-top:3.5%;
  }
  .thumbnail img{
  width: 600px;
  height: 600px;
  position: relative;
}
  .overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*gallary*/
 .container-fluid{
 	margin: 0 auto;
 	/*border: 1px solid green;*/
  padding: 0;

 }
 .row{
 /*	border: 1px solid orange;*/
 	margin: 0 auto;
 	padding-top: 0.5em;
 }
 .card-deck{
 	
 	padding: 0.75em;
 	margin: 0 auto;
 	border-radius: 1em;
 }
 .card img{
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  
}



/*end of gallary*/

/*carousel*/
ul.flex li{
  display: inline-block;
  flex-direction: row;

}
ul.flex i.fa{
  padding-right: 100px;
  text-align: center;
}
section#validation 
{
	background-color: #b8b894!important;
	/*border: 1px solid green;*/
}

form input.form-control { 
  border:0px;
  border-radius:0px; 
}

.main .btn { 
  margin-top:30px; 
  color:#fff;
  background:rgba(0,240,190,0.25);
  border:0px;
  border-radius:0px; 
}

.first-name-error,
.last-name-error,
.email-error,
.password-error {
  color: #dd4b39;
  font-weight: 600;
}
button.btn {
  background: transparent;
  border: none;
  color: #00f28f;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 2s, color 1s;
}

button.btn:hover {
  background: #00f28f;
  color: #fff;
  transition: background 2s, color 1s;
}

/* Footer */

/*project*/
.skillset {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-html {
  background-color: #E55126;
}
.skill-js {
  background-color: #E5A227;
}
.skill-new {
 background-color:  #993366;
}
.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
.navigation.work { 
  color: #ffd400;
 
  text-shadow: 0 0 10px #ffd400;
} 
/* jQuery plugin css*/

.free-wall {
        margin: 2px;
      }
      /*.brick {
        width: 33%;
      }*/
      .info {
        padding: 15px;
        color: #333;
      }
      .brick img {
        margin: 0px;
        padding: 0px;
        /*display: flex;*/
      }
      /*end of plugin*/

/*footer section*/
 
/*footer*/
.wrapper{
    text-align: center;
}
.wrapper h4{
  font-weight: bold;
}
.wrapper h5{
  text-transform: lowercase;
}

.end{
  text-align: center;
  font-weight: bold;
}
/*end of footer*/

/*media query*/
@media only screen and (max-width: 320px){
  .jumbotron{
    display: none;
  }

  
@media only screen and (min-width: 321px) and (max-width: 375px){
  /*jumbootron*/
  .jumbotron{
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid green;
  }
  .alert{
    margin-top: 0;
  }
  .jumbotron h1{
  
  font-size: 3em;
  
}
.jumbotron p{
  display: none;
}

