*{
  box-sizing: border-box;
  text-align: center;
}
body,html{
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "helvatica";

}
/*header*/
.navbar{
  background-color:rgb(157, 173, 198)!important;

  /*padding-bottom: 40px;*/
}

a.begin:focus, a.begin:hover{
  text-decoration: underline;
  color: rgb(178, 148, 204)!important;
  transition: all 0.3s ease 0s;
 }

#start{
  position: relative;
  margin-top: 4%;
  height: 500px;
}
/*jumbotron*/
.pic {
	background: url(../images/img_1.jpeg) center center no-repeat;
	 background-size: cover;
	background-attachment: fixed;
  position: relative;
  top:0;
  height: 100%;

}

.jumbotron h1{
  font-family: "Monoton";
  font-size: 4em;
  color: purple;
  padding-top: 2rem;
  text-shadow: 2px 1px #ff8080 ;
}

.element{
  display: inline-
  block;
  margin-top: 100px;
  font-size: 2rem;
  color:white;
}
#scroll_1{
  position: absolute;
  top:70%;
  left:50%;
}
/*end of jumbotron*/
/* 2nd section--- Our services*/
.folder{
    padding:5% 0 5% 0;
    }
#middle h3,#middle p{
  color: black;
}
/* end of 2nd section*/

/*price plan*/
.planner{
  margin-top: 5%;
}
.work h1{
   border: 1px solid yellow;
}
.plan{
  
  padding-top: 10%;
}
.work{
 
  background: pink;
  margin:0;

}

.zoom{
  background: url(../images/background_clint.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
}
/*problem solved by using auto*/
/* end of testimonial*/
/*plan*/
#port{
  background-color:rgb(170, 179, 193);
}
.sub{
  padding-top: 2%;
  color:purple;
}
.portfolio{
  margin-top:3.5%;
  }
  .thumbnail img{
  width: 100%;
  height: 500px;
  position: relative;
}
  .overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*end of plan*/
/*Gallary*/
.picture{
  background: url(../images/fine_home_8.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
    }
.picture p{
    padding: 2%;
  }
/*end of Gallary*/
/* footer*/
#end{
  background-color:  rgb(179, 230, 255);
}
.wrapper h5{
  color:rgb(0, 153, 230);
}
/* media query*/
@media only screen and (max-width: 480px){
  body,html{
    font-size: 16px;
    background-color: rgb(255, 153, 255);
  }
  .pic{
    width:100%;
  }
  .jumbotron h1{
    font-size: 2rem;
    color:rgb(128, 0, 128);
  }
  #end{
    background-color: rgb(255, 204, 255);
  }
  .zoom{
    width:100%;
  }
}
@media only screen and (max-width: 481px) and (min-width: 768px){
  body,html{
    font-size: 18px;
    background-color: rgb(255, 153, 255);
  }
  .jumbotron h1{
    font-size: 2rem;
    color:rgb(255, 153, 102);
  }
  .pic{
    width:100%;
  }
  #end{
    background-color: rgb(255, 204, 179);
  }
  .zoom{
    width:100%;
  }
}


